# Credit Risk Modelling - Default Risk Prediction

**Author:** Kunj Patel

**Date:** March 11, 2024

---

## Introduction:

The main Idea of this presentation is to introduce how to approach Problems / Projects.

Credit Risk itself is a very broad topic and has a lot of different approaches, as talked about in the earlier slides, We will use Generalised Linear Models (GLMs) and Discriminant analysis to determine between good and bad credits.

In [1]:
# Data manipulation stuff
import pandas as pd
import numpy as np

# Plotting go brrrrr
import matplotlib.pyplot as plt

## What the Data?

Getting the data from: [Data](https://www.kaggle.com/c/home-credit-default-risk/data)

In [2]:
path_application_train = "/home/dark/VS-CodePythonProjects/DataScience-Club/Credit-Risk-Model/Data/application_train.csv"

df = pd.read_csv(path_application_train)

df.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
print(df)

print(df.columns)

        SK_ID_CURR  TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR  \
0           100002       1         Cash loans           M            N
1           100003       0         Cash loans           F            N
2           100004       0    Revolving loans           M            Y
3           100006       0         Cash loans           F            N
4           100007       0         Cash loans           M            N
...            ...     ...                ...         ...          ...
307506      456251       0         Cash loans           M            N
307507      456252       0         Cash loans           F            N
307508      456253       0         Cash loans           F            N
307509      456254       1         Cash loans           F            N
307510      456255       0         Cash loans           F            N

       FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  \
0                    Y             0          202500.0    406597.5
1                    N             0          270000.0   1293502.5
2                    Y             0           67500.0    135000.0
3                    Y             0          135000.0    312682.5
4                    Y             0          121500.0    513000.0
...                ...           ...               ...         ...
307506               N             0          157500.0    254700.0
307507               Y             0           72000.0    269550.0
307508               Y             0          153000.0    677664.0
307509               Y             0          171000.0    370107.0
307510               N             0          157500.0    675000.0

        AMT_ANNUITY  ...  FLAG_DOCUMENT_18 FLAG_DOCUMENT_19 FLAG_DOCUMENT_20  \
0           24700.5  ...                 0                0                0
1           35698.5  ...                 0                0                0
2            6750.0  ...                 0                0                0
3           29686.5  ...                 0                0                0
4           21865.5  ...                 0                0                0
...             ...  ...               ...              ...              ...
307506      27558.0  ...                 0                0                0
307507      12001.5  ...                 0                0                0
307508      29979.0  ...                 0                0                0
307509      20205.0  ...                 0                0                0
307510      49117.5  ...                 0                0                0

       FLAG_DOCUMENT_21 AMT_REQ_CREDIT_BUREAU_HOUR AMT_REQ_CREDIT_BUREAU_DAY  \
0                     0                        0.0                       0.0
1                     0                        0.0                       0.0
2                     0                        0.0                       0.0
3                     0                        NaN                       NaN
4                     0                        0.0                       0.0
...                 ...                        ...                       ...
307506                0                        NaN                       NaN
307507                0                        NaN                       NaN
307508                0                        1.0                       0.0
307509                0                        0.0                       0.0
307510                0                        0.0                       0.0

        AMT_REQ_CREDIT_BUREAU_WEEK  AMT_REQ_CREDIT_BUREAU_MON  \
0                              0.0                        0.0
1                              0.0                        0.0
2                              0.0                        0.0
3                              NaN                        NaN
4                              0.0                        0.0
...                            ...                        ...
307506                         NaN                        NaN
307507                         NaN                        NaN
307508                         0.0                        1.0
307509                         0.0                        0.0
307510                         0.0                        2.0

        AMT_REQ_CREDIT_BUREAU_QRT  AMT_REQ_CREDIT_BUREAU_YEAR
0                             0.0                         1.0
1                             0.0                         0.0
2                             0.0                         0.0
3                             NaN                         NaN
4                             0.0                         0.0
...                           ...                         ...
307506                        NaN                         NaN
307507                        NaN                         NaN
307508                        0.0                         1.0
307509                        0.0                         0.0
307510                        0.0                         1.0

[307511 rows x 122 columns]
Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

## EDA

In [4]:
# Figuring out the missing values

miss_val = df.isnull().sum()

miss_val_perc = 100 * df.isnull().sum() / len(df)

greater_0 = miss_val_perc[miss_val_perc != 0].round(2)

greater_0 = greater_0.sort_values(ascending=False)

In [5]:
greater_0.head(20)

COMMONAREA_MEDI             69.87
COMMONAREA_AVG              69.87
COMMONAREA_MODE             69.87
NONLIVINGAPARTMENTS_MEDI    69.43
NONLIVINGAPARTMENTS_MODE    69.43
NONLIVINGAPARTMENTS_AVG     69.43
FONDKAPREMONT_MODE          68.39
LIVINGAPARTMENTS_MODE       68.35
LIVINGAPARTMENTS_MEDI       68.35
LIVINGAPARTMENTS_AVG        68.35
FLOORSMIN_MODE              67.85
FLOORSMIN_MEDI              67.85
FLOORSMIN_AVG               67.85
YEARS_BUILD_MODE            66.50
YEARS_BUILD_MEDI            66.50
YEARS_BUILD_AVG             66.50
OWN_CAR_AGE                 65.99
LANDAREA_AVG                59.38
LANDAREA_MEDI               59.38
LANDAREA_MODE               59.38
dtype: float64

In [6]:
list_col = greater_0.index.to_list()

In [7]:
df = df.drop(columns=list_col)

In [8]:
len(greater_0)

67

In [9]:
df.value_counts()

SK_ID_CURR  TARGET  NAME_CONTRACT_TYPE  CODE_GENDER  FLAG_OWN_CAR  FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  NAME_INCOME_TYPE      NAME_EDUCATION_TYPE            NAME_FAMILY_STATUS    NAME_HOUSING_TYPE  REGION_POPULATION_RELATIVE  DAYS_BIRTH  DAYS_EMPLOYED  DAYS_REGISTRATION  DAYS_ID_PUBLISH  FLAG_MOBIL  FLAG_EMP_PHONE  FLAG_WORK_PHONE  FLAG_CONT_MOBILE  FLAG_PHONE  FLAG_EMAIL  REGION_RATING_CLIENT  REGION_RATING_CLIENT_W_CITY  WEEKDAY_APPR_PROCESS_START  HOUR_APPR_PROCESS_START  REG_REGION_NOT_LIVE_REGION  REG_REGION_NOT_WORK_REGION  LIVE_REGION_NOT_WORK_REGION  REG_CITY_NOT_LIVE_CITY  REG_CITY_NOT_WORK_CITY  LIVE_CITY_NOT_WORK_CITY  ORGANIZATION_TYPE       FLAG_DOCUMENT_2  FLAG_DOCUMENT_3  FLAG_DOCUMENT_4  FLAG_DOCUMENT_5  FLAG_DOCUMENT_6  FLAG_DOCUMENT_7  FLAG_DOCUMENT_8  FLAG_DOCUMENT_9  FLAG_DOCUMENT_10  FLAG_DOCUMENT_11  FLAG_DOCUMENT_12  FLAG_DOCUMENT_13  FLAG_DOCUMENT_14  FLAG_DOCUMENT_15  FLAG_DOCUMENT_16  FLAG_DOCUMENT_17  FLAG_DOCUMENT_18  FLAG_DOCUMENT_19  FLAG_DOCUMENT_20  FLAG_DOCUMENT_21
100002      1       Cash loans          M            N             Y                0             202500.0          406597.5    Working               Secondary / secondary special  Single / not married  House / apartment  0.018801                    -9461       -637           -3648.0            -2120            1           1               0                1                 1           0           2                     2                            WEDNESDAY                   10                       0                           0                           0                            0                       0                       0                        Business Entity Type 3  0                1                0                0                0                0                0                0                0                 0                 0                 0                 0                 0                 0                 0                 0                 0                 0                 0                   1
337664      0       Cash loans          M            N             Y                0             135000.0          785398.5    Pensioner             Higher education               Married               House / apartment  0.010032                    -22496       365243        -13003.0           -4153            1           0               0                1                 1           0           2                     2                            SATURDAY                    4                        0                           0                           0                            0                       0                       0                        XNA                     0                0                0                0                1                0                0                0                0                 0                 0                 0                 0                 0                 0                 0                 0                 0                 0                 0                   1
337661      0       Cash loans          F            Y             Y                1             202500.0          225000.0    Working               Secondary / secondary special  Married               With parents       0.022800                    -9673       -2651          -2747.0            -1455            1           1               0                1                 0           0           2                     2                            MONDAY                      10                       0                           0                           0                            0                       0                       0                        Business Entity Type 3  0                1                0                0                0                0                0                0                0                 0                 0                 0                 0                 0                 0                 0                 0                 0                 0                 0                   1
337660      0       Cash loans          F            N             N                0             112500.0          652311.0    Pensioner             Secondary / secondary special  Civil marriage        House / apartment  0.046220                    -21860       365243        -9135.0            -4824            1           0               0                1                 1           0           1                     1                            TUESDAY                     11                       0                           0                           0                            0                       0                       0                        XNA                     0                1                0                0                0                0                0                0                0                 0                 0                 0                 0                 0                 0                 0                 0                 0                 0                 0                   1
337659      0       Cash loans          F            N             Y                0             90000.0           450000.0    Working               Secondary / secondary special  Civil marriage        House / apartment  0.014520                    -19559      -6708          -9294.0            -3100            1           1               0                1                 1           0           2                     2                            MONDAY                      10                       0                           0                           0                            0                       0                       0                        Business Entity Type 2  0                1                0                0                0                0                0                0                0                 0                 0                 0                 0                 0                 0                 0                 0                 0                 0                 0                   1
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               ..
218992      0       Cash loans          F            N             N                0             99000.0           202500.0    Pensioner             Secondary / secondary special  Single / not married  House / apartment  0.009549                    -21830       365243        -14684.0           -3941            1           0               0                1                 0           0           2                     2                            THURSDAY                    13                       0                           0                           0                            0                       0                       0                        XNA                     0                0                0                0                1                0                0                0                0                 0                 0                 0                 0                 0                 0                 0                 0                 0                 0                 0                   1
218991      0       Cash loans          F            N             Y                0             135000.0          482593.5    Working               Secondary / secondary special  Civil marriage        House / apartment  0.046220                    -10409      -104           -4325.0            -2023            1           1               0                1                 0           0           1                     1                            FRIDAY                      12                       0                           1                           1                            1                       0                       0                        Medicine                0                1                0                0                0                0                0                0                0                 0                 0                 0                 0                 0                 0                 0                 0                 0                 0                 0                   1
218990      0       Cash loans          M            Y             Y                1             112500.0          640080.0    Working               Secondary / secondary special  Civil marriage        House / apartment  0.006852                    -18348      -1053          -5607.0            -1869            1           1               0                1                 0           0           3                     3                            TUESDAY                     6                        0                           0                           0                            0                       0                       0                        Self-employed           0                1                0                0                0                0                0                0                0                 0                 0                 0                 0                 0                 0                 0                 0                 0                 0                 0                   1
218989      0       Cash loans          F            N             Y                1             76500.0           326439.0    Working               Secondary / secondary special  Married               House / apartment  0.007305                    -16524      -306           -1847.0            -63              1           1               0                1                 0           0           3                     3                            WEDNESDAY                   8                        0                           0                           0                            0                       1                       1                        Transport: type 1       0                1                0                0                0                0                0                0                0                 0                 0                 0                 0                 0                 0                 0                 0                 0                 0                 0                   1
456255      0       Cash loans          F            N             N                0             157500.0          675000.0    Commercial associate  Higher education               Married               House / apartment  0.046220                    -16856      -1262          -5128.0            -410             1           1               1                1                 1           0           1                     1                            THURSDAY                    20                       0                           0                           0                            0                       1                       1                        Business Entity Type 3  0                1                0                0                0                0                0                0                0                 0                 0                 0                 0                 0                 0                 0                 0                 0                 0                 0                   1
Name: count, Length: 307511, dtype: int64

In [10]:
df.columns

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE',
       'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'REGION_POPULATION_RELATIVE',
       'DAYS_BIRTH', 'DAYS_EMPLOYED', 'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH',
       'FLAG_MOBIL', 'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE', 'FLAG_CONT_MOBILE',
       'FLAG_PHONE', 'FLAG_EMAIL', 'REGION_RATING_CLIENT',
       'REGION_RATING_CLIENT_W_CITY', 'WEEKDAY_APPR_PROCESS_START',
       'HOUR_APPR_PROCESS_START', 'REG_REGION_NOT_LIVE_REGION',
       'REG_REGION_NOT_WORK_REGION', 'LIVE_REGION_NOT_WORK_REGION',
       'REG_CITY_NOT_LIVE_CITY', 'REG_CITY_NOT_WORK_CITY',
       'LIVE_CITY_NOT_WORK_CITY', 'ORGANIZATION_TYPE', 'FLAG_DOCUMENT_2',
       'FLAG_DOCUMENT_3', 'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5',
       'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8',
       'FLAG_DOCUMENT_9', 'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11',
       'FLAG_DOCUMENT_12', 'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14',
       'FLAG_DOCUMENT_15', 'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17',
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21'],
      dtype='object')

In [11]:
col = ['FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_3', 'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8',
       'FLAG_DOCUMENT_9', 'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11','FLAG_DOCUMENT_12', 'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14','FLAG_DOCUMENT_15', 
       'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21', 'ORGANIZATION_TYPE',
       'FLAG_MOBIL', 'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE', 'FLAG_CONT_MOBILE', 'FLAG_PHONE', 'FLAG_EMAIL', 'REGION_POPULATION_RELATIVE', 'DAYS_REGISTRATION',
       'REGION_RATING_CLIENT', 'REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY']

df = df.drop(columns=col)

In [12]:
df.columns

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE',
       'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'DAYS_BIRTH',
       'DAYS_EMPLOYED', 'DAYS_ID_PUBLISH', 'REGION_RATING_CLIENT_W_CITY',
       'WEEKDAY_APPR_PROCESS_START', 'HOUR_APPR_PROCESS_START',
       'REG_REGION_NOT_LIVE_REGION', 'REG_REGION_NOT_WORK_REGION',
       'LIVE_REGION_NOT_WORK_REGION', 'REG_CITY_NOT_LIVE_CITY'],
      dtype='object')

## Prediction Using GLM

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
from imblearn.over_sampling import SMOTE

In [15]:
# Taking all the data except the target

df = df.select_dtypes(exclude='object')
X = df.drop(columns=['TARGET'])

# The target
y = df['TARGET']

In [17]:
# Splitting the data

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4)

smote = SMOTE()

X_train_resampled, y_train_resampled = smote.fit_resample(X_train, y_train)

In [18]:
# Lets define and create the GLM Model

from sklearn.linear_model import PoissonRegressor
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler

# Making the pipeline

model = make_pipeline(StandardScaler(), PoissonRegressor())

model.fit(X_train_resampled, y_train_resampled)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('poissonregressor', PoissonRegressor())])

In [19]:
df['TARGET'].value_counts()

TARGET
0    282686
1     24825
Name: count, dtype: int64

In [23]:
from sklearn.metrics import accuracy_score, classification_report

val_bar = 0.5

y_pred = model.predict(X_test)

y_pred = (y_pred >= val_bar).astype(int)

print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.93      0.62      0.74    113029
           1       0.09      0.44      0.15      9976

    accuracy                           0.60    123005
   macro avg       0.51      0.53      0.45    123005
weighted avg       0.86      0.60      0.69    123005

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# Define your features (X) and target variable (y)
X = df.drop(columns=['TARGET'])
y = df['TARGET']

# Split the data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create a logistic regression model
logistic_model = LogisticRegression()

# Train the model on the training data
logistic_model.fit(X_train, y_train)

# Make predictions on the test data
y_pred = logistic_model.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)